<%if current_student != nil and current_student.id.to_s == params[:id].to_s%>

<div class="container bg-light py-5 px-5">

    <h1>Groups</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Group Name</th>
        <th scope="col">course_id</th>
        <th />
      </tr>
      </thead>
      <tbody>

        <!-- list student groups -->
        <% @group_list = @student.groups %>
          <% @group_list.each do |group| %>
          <tr>
        	 	<td><%= group.name %></td>
            <td><%= group.course_id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<%else%>
  <div class="container">
    <div class="jumbotron vertical-center my-5 py-5">
      <div class="container text-center">
        <h1 class="display-4">Whoops!</h1>
        <p class="lead">You don't belong here!</p>
        page id = <%= params[:id]%>
        student id = <%#= current_student.id %>
        *these are for testing purposes*
      </div>
    </div>

  </div>
<%end%>
