<!-- Created by Houyi Fan 7/24/18 -->
<%if current_student != nil and current_student.id.to_s == params[:id].to_s%>

<div class="container-fluid bg-white" ng-app="studentCourseApp" ng-controller="studentCon" ng-init="init(<%= @student.id %>)" ng-cloak>

  <div class = "row py-2 bg-light border-bottom">
    <!-- heading -->
    <h1 class="mr-auto pl-4">Courses</h1>
  </div>
  <div class="row bg-light">
    <div class="col-3 px-0 mx-0 bg-white" style="min-height:600px;" ng-hide="showForm ">
      <div>

        <!-- List of Courses On The left -->
        <div id="courseList" class="list-group list-group-flush" role="tablist"  >
          <a class="list-group-item list-group-item-action" id="list-tab" name="course" ng-repeat="c in courses" ng-click="showDetail(c.id, c.name)"
             data-toggle="list" href="#list-home" role="tab" aria-controls="home" > {{c.name}} </a>
        </div>
      </div>
    </div>

    <!-- Complete evaluation form -->
    <div class="container col mx-5 my-5 px-5" ng-show="showForm ">
      <form name="evaluationForm" ng-submit="submitEvaluation()">
        <div class="form-group">
          <h1 id="stdFormTitle" >{{form_title}}</h1>
        </div>

        <div class="form-group">
          <label class="h5" for="form_answers">Complete the form below:</label>
          <textarea style="min-height:800px;" class="form-control-lg container-fluid px-4 py-3" ng-model="form_questions" id="stdFormAnswers"/></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <a ng-click="toggleEvaluationForm()" href="#" role="button" class="btn btn-secondary">Cancel</a>
      </form>
    </div>


    <div id ="pageContent" class="col bg-light px-5 py-4" ng-show="showContent && !showForm">
      <!-- Course Title -->
      <div class="text-center">
        <h3 >{{course_name}} - {{ group_name }}</h3>
      </div>

      <div class="row px-1 mt-5" ng-show="incompleteForms">
        <h3>Incomplete Evaluations</h3>
        <table class="table table-sm">
          <thead>
          <tr>
            <th scope="col">Evaluation Name</th>
            <th scope="col">Due Date</th>
            <th scope="col">Posted Date</th>
            <th scope="col">Completion Status</th>
            <th scope="col">Complete Form</th>
          </tr>
          </thead>
          <tbody>

          <!-- list student evaluations -->
            <tr ng-repeat="e in evaluations">
              <td>{{ e.title }}</td>
              <td>{{ e.due_date }}</td>
              <td>{{ e.posted_date }}</td>
              <td>{{ e.isCompleted }}</td>
              <td><button id="complete_evaluation" class="btn btn-secondary" ng-click="completeEvaluation(e.id)">
                Complete Evaluation
              </button></td>
            </tr>

          </tbody>
        </table>
      </div>
      <hr/>
      <h4 class="text-secondary text-center" ng-hide="incompleteForms">No Incomplete Evaluations!</h4>
    </div>
  </div>
</div>

<%else%>
<div class="container">
  <div class="jumbotron vertical-center my-5 py-5">
    <div class="container text-center">
      <h1 class="display-4">Whoops!</h1>
      <p class="lead">You don't belong here!</p>
    </div>
  </div>
</div>
<%end%>
