
<%if current_student%>
  <div class="container-fluid">
    <div class="row">
      <div class="col bg-light">
        <%= button_to 'Add Evaluation', '/evaluations/new' %>
      </div>
    </div>
  </div>
<%else%>

<%end%>
</div>