<nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-primary">
  <% if professor_signed_in? %>
    <%= button_to "Sign Out",  destroy_professor_session_path, {:method => :delete, class: 'btn'} %>
  <% elsif student_signed_in?%>
    <%= button_to "Sign Out", destroy_student_session_path, {:method => :delete, class: 'btn'} %>
  <% end %>
</nav>