<!-- navbar to traverse the site -->
<nav id="myNav" class="navbar navbar-expand-sm navbar-light bg-primary" >
  <a class="navbar-brand" href="#">RubyRubyRu</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/students/index.html" data-hover="dropdown">Students</a>
      <div class="dropdown-menu  mt-0">
        <a class="dropdown-item" href="/students/new">New</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/professors/index.html" data-hover="dropdown">Professors</a>
      <div class="dropdown-menu mt-0">
        <a class="dropdown-item" href="/professors/new">New</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/courses/index.html" data-hover="dropdown">Courses</a>
      <div class="dropdown-menu mt-0">
        <a class="dropdown-item" href="/courses/new">New</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/evaluations/index.html" data-hover="dropdown">Evaluations</a>
      <div class="dropdown-menu mt-0">
        <a class="dropdown-item" href="/evaluations/new">New</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/groups/index.html" data-hover="dropdown">Groups</a>
      <div class="dropdown-menu mt-0">
        <a class="dropdown-item" href="/groups/new">New</a>
      </div>
    </li>
  </ul>
  </div>
</nav>