<!-- Created by Jeb Alawi 7/19/18 -->
<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
  <tr>
    <th>name</th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
