<%= javascript_include_tag 'content' %>

<div class="container-fluid" ng-app="myApp" ng-controller="myCon">

  <div class = "row">
    <h1 class="mr-auto"><%= title %></h1> <span><b>Student/Groups</b></span>
  </div>
  <div class="row">

    <!-- List of Courses On The left -->

      <%= render partial: "professors/partials/course_dropdown.erb", locals: {courses: @courses, professor: @professor} %>

    </div>
    <div  class="col bg-light">
      <div class="row py-3 px-3">
        <h1> {{course_dept}}-{{course_number}}: {{course_name}}</h1>
        <%= render partial: "professors/partials/evaluation_form_list", locals: {courses: @courses}%>
      </div>
    </div>
  </div>
</div>