<div class="container-fluid" ng-app="evaluationApp" ng-controller="evaluationCon" ng-init="init(<%= @professor.id %>)">

  <div class = "row">
    <h1 class="mr-auto"> Evaluations
      <!-- "+" icon -->
      <span>
				<button id="new_evaluation" class="btn btn-secondary" ng-click="addEvaluation()">
					<i class="fa fa-plus fa-2x"></i>
				</button>
			</span>
    </h1>

    <!-- toggle buttons -->
    <div id="buttonToggle" class="btn-group btn-group-toggle h-50 mt-2 mr-1" data-toggle="buttons">
      <button class="btn btn-primary" type="radio" ng-click="switchState()" ng-disabled="!isProfessorForm">Student Forms</button>
      <button class="btn btn-primary" type="radio" ng-click="switchState()" ng-disabled="isProfessorForm || !clickedClass">Professor Forms</button>
    </div>

  </div>

  <div class="row">
    <!-- List of Courses On The left -->
    <div class="col-2 px-0 mx-0">
      <div>
        <div id="courseList" class="list-group list-group-flush">
          <a id="list-tab" class="list-group-item list-group-item-action" role="tablist" name="course" ng-repeat="c in courses" ng-click="showDetail(c.id)"
             data-toggle="list" href="#list-home" role="tab" aria-controls="home"> {{c.name}} </a>
        </div>
        <%#= link_to 'Add Course', new_professor_course_path(professor), :class => 'btn'%>
        <a class="list-group-item list-group-item-action text-success text-center" name="addCourse" ng-click="toggleAddCourseForm()">Add Course</a>

        <!-- Add courses form -->
        <div class="container">
          <form name="addCourseForm" ng-submit="addCourse()" ng-show="showAddCourseForm">
            <div class="form-group">
              <label for="dept">Department</label>
              <input ng-model="$parent.course_dept" id="dept" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label for="courseNumber">Course Number</label>
              <input ng-model="$parent.course_number" id="courseNumber" type="number" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label for="section">Section</label>
              <input ng-model="$parent.course_section" id="section" type="number" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label for="courseName">Name</label>
              <input ng-model="$parent.new_course_name" id="courseName" type="text" class="form-control" placeholder="" />
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div id ="pageContent" class="col bg-light px-5 pb-5">
      <!-- Course Title -->
      <div class="text-center">
        <h1>{{course_name}}</h1>
      </div>
      <h1>Form: {{form.title}}</h1>


    </div>
  </div>
</div>

<%= javascript_include_tag 'contentEvaluations' %>